
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.rule-modal {
    width:100%;
    margin:auto;
    background-color:rgba(200, 194, 194, 0.46);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}


/* The Close Button */
.rule-modal-close:hover,
.rule-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.rule-modal-btn{
    display:flex;
    float: left;
    justify-content: space-between;
    align-items: center;
}
