
body {font-family: Arial, Helvetica, sans-serif;}
.rule-modal {    
    display: flex;
    align-items: center;
}

.rule-modal-name{
    align-items:center;
}
.rule-modal-name input{
    margin-right:10px;
}

.rule-modal-menu{
    column-count:2;
}

.rule-modal-input{
    text-align:center;
}

.rule-modal button{
    height: 50%;
}

.form-group{
    margin-bottom:0px !important;
    margin-left:5px !important;
    margin-right:5px !important;
}

.rule-modal-table{
    width:100%;
}
.rule-modal-input{
    margin-bottom:5px;
}

.rule-btn{
    color: #fff !important;
}